
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#sha256=06c80936324012d1223291d2af41a5229e746dc2dee8fe31a532666ee3d18aaa

GitPython==3.1.37

Jinja2==3.1.2


matplotlib==3.7.3

nltk==3.8.1

numpy==1.24.4

regex==2023.8.8
requests==2.31.0

sentencepiece==0.1.99

spacy==2.3.5

streamlit==1.27.0

tensorflow-hub==0.14.0

tqdm==4.66.1

